
ALsSoundSwitcher_Frontend/ALsSoundSwitcher/bin/

ALsSoundSwitcher_Frontend/ALsSoundSwitcher/obj/

ALsSoundSwitcher_Frontend/\.vs/

GetPlaybackDevices/\.vs/

GetPlaybackDevices/GetPlaybackDevices/Release/

GetPlaybackDevices/Release/

*.db

SetPlaybackDevice/\.vs/

SetPlaybackDevice/Release/

SetPlaybackDevice/SetPlaybackDevice/Release/

SetPlaybackDevice/SetPlaybackDevice/x64/

SetPlaybackDevice/x64/

GetPlaybackDevices/GetPlaybackDevices/x64/

GetPlaybackDevices/x64/

ALsSoundSwitcher_Frontend/packages/

*.user
